<template>
  <div>
    <p>SCORE: {{ snake.body_indexes.length - 1 }}</p>

    <div id='map' v-bind:style="{'--grid-size': gridSize}">
      <!-- セルを100個生成して、必要に応じてhead, body, fruitクラスを付ける -->
      <!-- （注意：Vueは v-for="i in 数値" としたとき、iが1から始まる） -->
      <div v-for="i in gridSize * gridSize" v-bind:class="{ cell: true, head: snake_head_index === i - 1, body: snake.body_indexes.includes(i - 1), fruit: fruitIndex === i - 1}" v-bind:key="i"><!-- {{ i - 1 }} --></div>
    </div>
    <p v-if='is_gameover'>
      GAME OVER<br>
      <button onclick="location.reload()">RETRY</button>
    </p>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Watch, Vue } from 'vue-property-decorator';

// ヘビに関するデータ型
interface SnakeType {
  head_pos: {
    x: number,
    y: number,
  },
  body_indexes: number[],
  direction: string,
  speed: number,
}
@Component
export default class Snake extends Vue {
  // 10 x 10 マス
  // @Prop({ default: 15 })
  @Prop()
  private gridSize!: number;

// フルーツの位置インデックス
  private fruitIndex: number = 0;
  // ヘビに関するデータ
  private snake: SnakeType = {
    // 頭の座標（初期値）
    head_pos: {
      x: 1,
      y: 3,
    },
    // 体の位置インデックスたち
    body_indexes: [0],
    // 進行方向
    direction: '→',
    // 1マス進むのにかかる時間[ms]
    speed: 400,
  };

  // ヘビの頭の座標をインデックスに変換
  get snake_head_index(): number {
    // null
    if (this.is_frameout) { return -1; }
    return this.snake.head_pos.y * this.gridSize + this.snake.head_pos.x;
  }
  // フルーツ食べてる？
  get is_eating_fruit(): boolean {
    return this.snake_head_index === this.fruitIndex;
  }

  // 自己衝突してる？
  get is_suicided(): boolean {
    return this.snake.body_indexes.includes(this.snake_head_index);
  }
  // ヘビの頭は画面外？
  get is_frameout(): boolean {
    const head = this.snake.head_pos;
    return head.x < 0 || this.gridSize <= head.x || head.y < 0 || this.gridSize <= head.y;
  }
  // ゲームオーバー？
  get is_gameover(): boolean {
    return this.is_suicided || this.is_frameout;
  }

  private created(): void {
    // フルーツの位置をランダムに移動
    this.randomize_fruitIndex();
    // キーボード入力のイベントをon_keydownメソッドに投げる
    document.onkeydown = (event) => {
      this.on_keydown(event.keyCode);
    };
    // 時間を動かし始める
    this.time_goes();
  }

  @Watch('is_eating_fruit')
  private monitoring(newValue: boolean, oldValue: boolean): void {
    // フルーツを食べているか監視
    // 食べていなかったら何もしない
    if (!newValue) { return; }
    // 食べているときは体を伸ばしてフルーツを置きなおす
    this.grow_up_snake();
    this.randomize_fruitIndex();
  }

  // 時間を進める
  private time_goes(): void {
    if (this.is_gameover) { return; }
    this.forward_snake();

    // speedミリ秒後に自分自身を呼び出す
    setTimeout(this.time_goes.bind(this), this.snake.speed);
  }

  // ヘビを進める
  private forward_snake(): void {
    // 体の最後尾を頭に持ってくる
    this.snake.body_indexes.shift();
    this.snake.body_indexes.push(this.snake_head_index);

    // 頭を1マス移動
    switch (this.snake.direction) {
      case '←': this.snake.head_pos.x--; break;
      case '↑': this.snake.head_pos.y--; break;
      case '→': this.snake.head_pos.x++; break;
      case '↓': this.snake.head_pos.y++; break;
    }
  }
  // ヘビの体を伸ばす
  private grow_up_snake(): void {
    this.snake.body_indexes.unshift(this.snake.body_indexes[0]);
  }
  // フルーツの位置をランダムに移動
  private randomize_fruitIndex(): void {
    // 0 〜 99 の乱数
    this.fruitIndex = Math.floor(Math.random() * this.gridSize * this.gridSize);
  }
  // キー入力を受け取ってヘビの進行方向を変える（逆方向は不可）
  private on_keydown(keyCode: number): void {
    switch (keyCode) {
      case 37:	// 「←」キーが押された
        if (this.snake.direction !== '→') { this.snake.direction = '←'; }
        break;
      case 38:	// 「↑」キーが押された
        if (this.snake.direction !== '↓') { this.snake.direction = '↑'; }
        break;
      case 39:	// 「→」キーが押された
        if (this.snake.direction !== '←') { this.snake.direction = '→'; }
        break;
      case 40:	// 「↓」キーが押された
        if (this.snake.direction !== '↑') { this.snake.direction = '↓'; }
        break;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
/* グリッドレイアウト */
#map {
  /* 10 x 10 マス（CSS変数） */
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 30px);
  /* 10列 幅30px */
  grid-template-rows: repeat(var(--grid-size), 30px);
  /* 10行 高さ30px */
}
/* セルの色 */
.cell {
  border: 1px solid white;
  background: whitesmoke;
}
/* ヘビの体の色 */
.cell.body {
  background: darkgray;
}
/* フルーツの色 */
.cell.fruit {
  background: orangered;
}
/* ヘビの頭の色 */
.cell.head {
  background: dimgray;
}
</style>
