<template>
  <div id="app">
    <Snake grid-size="11" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from './components/HelloWorld.vue';
import Snake from './components/Snake.vue';

@Component({
  components: {
    Snake,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
</style>
